/* CSS Log */

html, body, p, h2, div {
	margin: 0;
	padding: 0;
}
ul, li {
	font-size: 20px;
}

.header {
	overflow: hidden; 
	position: fixed;
	text-align: center;
	background-color: black;
	height: 50px;
	width: 100%;
	z-index: 1;
	white-space: nowrap;
}
.header-center {
    display: inline-block; 
    color: #f2f2f2;
    padding: 14px 40px;
    text-decoration: none;
}
.header-center:hover{
	color:grey; 
}

.background {
/* Set a specific height */
min-height: 900px; 
/* Create the parallax scrolling effect */
margin: 0px;
background-attachment: fixed; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display:grid;
position: relative;
}

#background_first {
	/* Image Used */
    background-image: url("Photos/Farm.jpg");
}
#background_second {
	/* Image Used */
    background-image: url("Photos/Oilfield2.jpeg");
}
#background_third {
	background-image: url("Photos/MLouie.JPEG");
}
#background_fourth {
	background-image: url("Photos/Calgary_Office.JPG");
}

#Nameplate {
	font-size: 50px; 
	color:whitesmoke;
	margin: 350px auto;
	text-align: center;
}

.lettering {
	color:white;
	backdrop-filter: blur(20px);
	position:absolute;
	bottom: 0px;
	font-size: 20px; 
	width: 100%;
	display: flex; 
	align-items: center;
}

#AboutMe {
	height: 100px;
}
#ENGDIV{
	height: 200px;
}
#SWDIV {
	height: 200px;
}
#LIFEDIV {
	height: 100px;
}

