/* CSS Log */

html, body, p, h2, div {
	margin: 0;
	padding: 0;
}
ul, li {
	font-size: 20px;
}

.header {
	overflow: hidden; 
	position: fixed;
	text-align: center;
	background-color: black;
	height: 50px;
	width: 100%;
	z-index: 1;
	white-space: nowrap;
}
.header-center {
    display: inline-block; 
    color: #f2f2f2;
    padding: 14px 40px;
    text-decoration: none;
}
.header-center:hover{
	color:grey; 
}

.background_first {
	/* Image Used */
    background-image: url("Photos/Farm.jpg");

    /* Set a specific height */
    min-height: 800px; 

    /* Create the parallax scrolling effect */
	margin: 0px;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	display:grid;
}

.background_second {
	/* Image Used */
    background-image: url("Photos/Oilfield2.jpeg");

    /* Set a specific height */
    height: 800px; 

    /* Create the parallax scrolling effect */
	margin: 0px;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Nameplate {
	background: inherit;
	font-size: 50px; 
	color:whitesmoke;
	margin: 300px auto;
	text-align: center;
}

#AboutMe {
	backdrop-filter: blur(10px);
	height: 200px;
	width: 100%;
	font-size: 20px;
}

#ENGDIV {
	padding: 0;
	margin: 0;
	height: 300px;
	width: 100%;
	background-color: white;
	font-size: 20px;
}

#SWDIV {
	padding: 0;
	margin: 0;
	height: 300px;
	width: 100%;
	background-color:white;
	font-size: 20px;
}

#LIFEDIV {
	padding: 0;
	margin: 0;
	height: 300px;
	width: 100%;
	background-color:white;
	font-size: 20px;
}

